@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap");
$accent: #a4d0d8;
$rosybrown-transparant: rgba(188, 143, 143, 0.623);
$darkbg: #001122;

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: $darkbg;
  color: #fff;
  a {
    color: $accent;
  }
  header {
    width: 100%;
    background-color: #000;
    //background-color: #2d3131;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: .1em;
    padding-bottom: 0em;
    border-bottom: 0.25em;
    border-bottom-color: rosybrown;
    border-bottom-style: solid;
    div {
      padding-left: 2em;
      img {
        transition: ease 350ms;
        width: 3.25em;
        height: 3.25em;
        float: left;
        padding-left: 0;
        margin: .1em 0 0 0;
        border-radius: 1.8em;
        border-color: rosybrown;
        border-width: 0.2em;
        border-style: solid;
        &:hover {
          border-radius: 1.5em;
          transition: ease 350ms;
          &:active {
            border-radius: 2.2em;
            transition: ease 350ms;
          }
        }
      }
    }
    nav {
      float: right;
      ul {
        display: flex;
        list-style: none;
        padding-right: 2em;
        li {
          padding-left: 1.2em;
          padding-top: 0.1em;
          a {
            text-decoration: none;
            color: $accent;
            text-decoration: none;
            font-size: 1.5em;
            position: relative;
            font-family: "Quicksand", sans-serif;
            font-weight: 700;
          }
          a::before {
            content: "";
            height: 1.1em;
            display: block;
            width: 0px;
            background-color: $rosybrown-transparant;
            position: absolute;
            bottom: -0.05em;
            left: -0.1em;

            transition: all ease 750ms;
          }
          a:hover::before {
            width: 106%;
          }
        }
      }
    }
  }
  main {
    margin: 2em 0 0 0;

    div.disclaimer {
      background-color: rgb(255, 123, 0);
      color: #000;
      height: auto;
      padding: 0 2em;
      p {
        font-weight: bold;
      }
    }

    //div.spacer and div.wave<x> are for the cool wave 😎
    div.bigwave {
      aspect-ratio: 900/400;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    div.smallwave {
      aspect-ratio: 900/150;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    div.bigwavedark {
      background-image: url('../svg/bigwavedark.svg');
    }
    div.smwavedark1 {
      background-image: url('../svg/smwavedark1.svg');
    }
    div.smwavedark2 {
      background-image: url('../svg/smwavedark2.svg');
    }

    div.section {
      margin: 0;
      padding: .1px 2em;
      display: inline-block;
    }
    .rosy {
      background-color: rosybrown;
      color: #fff;
      width: 100%;
    }

    h1 {
      text-align: center;
      margin-bottom: 0;
      padding-top: 10em;
    }
    h2.javarockDesc {
      text-align: center;
      margin-top: 0;
      padding-bottom: 10em;
      strong {
        font-weight: normal;
      }
    }
  }
  footer {
    margin: 0;
    display: inline;
    div.footer {
      margin: 0;
      padding: 0 3em;
      font-size: .7em;
      div.github {
        display: inline-flex;
        align-items: center;
        a.git-txt {
          padding-left: .5em;
          padding-bottom: .15em;
          text-decoration: none;
          font-weight: 600;
          color: #fff;
        }
        img {
          width: 2em;
        }
      }
    }
  }
}

.clearfix {
  //when you do float left and float right it breaks and this fixes that
  content: "";
  display: table;
  clear: both;
}

.preload {
  //removes animation from navbar image while page is loading, re-added in javascript after page is loaded, fixes some animations (by some i mean when the page loads the IMAGE HAD A HEART ATTACK THIS TOOK ME DAYS TO FIGURE OUT)
  transition: none !important;
}
